.card {
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: max-content;
  justify-content: center;
  justify-items: center;
  align-items: start;
  background-color: var(--color-background-medium);
}

.heading {
  text-transform: capitalize;
  margin-bottom: 0.6rem;
}

.info {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 1.2rem;
}

.value {
  font-size: 6.4rem;
  font-weight: 700;
}

.unit {
  font-size: 3.6rem;
}
