.humidityCardBar {
  --border-radius: 10rem;

  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-grey-light);
  display: grid;
  row-gap: 0.2rem;

  &__dividers {
    display: flex;
    justify-content: space-between;
  }

  &__full {
    position: relative;
    height: 0.8rem;
    border-radius: var(--border-radius);
    background-color: var(--color-light);
  }

  &__inner {
    position: absolute;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: rgba(255 236 101 / 100%);
  }

  &__percent {
    text-align: right;
  }
}
