.windStatusCardDirection {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  &__iconWrapper {
    width: 4rem;
    height: 4rem;
    background-color: var(--color-background-light);
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-light);
  }

  &__text {
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}
