@use "../../../../assets/styles/bootstrap";

.wrapper {
  display: flex;
  column-gap: 1.2rem;
}

.switch {
  width: 4rem;
  aspect-ratio: 1;
  background-color: var(--color-background-medium-light);
  color: var(--color-light);
  font-size: 1.8rem;
  font-weight: 700;

  @include bootstrap.respond-to-screen(medium) {
    box-shadow: 0 0.4rem 0.4rem rgba(0 0 0 / 25%);
  }

  @include bootstrap.button-activity-effects;
}

.switch_active {
  composes: switch;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.button {
  width: 100%;
  height: 100%;
}

.unit {
  margin-top: 1px;
  margin-left: -1px;
}
