@use "../../../../assets/styles/bootstrap";

.modal_open {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 33%;
  z-index: 1;

  @include bootstrap.respond-to-screen(medium) {
    width: 100%;
  }
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-medium);
  overflow: auto;
  padding: 2rem 3.33vw 3rem;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: max-content;
}

.closeBtn {
  width: max-content;
  justify-self: end;
  margin-bottom: 4.5rem;

  @include bootstrap.respond-to-screen(medium) {
    margin-bottom: 2.4rem;
  }
}

.closeIcon {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--color-light);

  @include bootstrap.respond-to-screen(medium) {
    width: 2.4rem;
    height: 2.4rem;
  }

  transition: fill var(--transition-config-default);

  .closeBtn:focus &,
  .closeBtn:hover & {
    fill: var(--color-accent);
  }
}

.inputSection {
  height: 5rem;
  margin-bottom: 6rem;

  @include bootstrap.respond-to-screen(medium) {
    margin-bottom: 4.5rem;
  }

  &__field {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-light);

    &:focus-within {
      outline: 0.2rem solid var(--color-light);
    }
  }

  &__input {
    height: 100%;
    width: 100%;
    padding-left: 4.8rem;
    padding-right: 1.2rem;

    &::placeholder {
      color: var(--color-grey-dark);
    }
  }

  &__icon {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-grey-dark);
  }
}

.spinner {
  width: 5rem;
  height: 5rem;
  justify-self: center;
}
