@use "../../../../assets/styles/bootstrap";

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1.66vw;
  margin-bottom: 5vw;

  @include bootstrap.respond-to-screen(medium) {
    gap: 7vw;
    margin-bottom: 14vw;
  }
}
