.btn {
  width: 100%;
  min-height: 6.4rem;
  padding: 1.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.2rem;
  outline: 0.2rem solid transparent;
  transition: outline var(--transition-config-default);

  &:focus,
  &:hover {
    outline: 0.2rem solid var(--color-grey-dark);
  }
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-grey-dark);
  flex-shrink: 0;
}
