@use "../../../../assets/styles/bootstrap";

@mixin btn-common {
  height: 4rem;
  background-color: var(--color-grey-medium);
  box-shadow: 0 0.4rem 0.4rem rgba(0 0 0 / 25%);

  @include bootstrap.button-activity-effects;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  @include bootstrap.respond-to-screen(medium) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1.8rem;
  }
}

.searchBtn {
  @include btn-common;

  padding: 1rem 1.8rem;
}

.currentLocation {
  @include btn-common;

  aspect-ratio: 1;

  &__btn {
    width: 100%;
    aspect-ratio: 1;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-light);
  }
}
