.app {
  --forecasts-padding-inline: 13rem;

  min-height: 100vh;

  &__locationSearch {
    position: absolute;
    z-index: 1;
    top: 4.2rem;
    left: 3%;
    width: 27%;
  }

  &__unitsSwitch {
    position: absolute;
    z-index: 1;
    top: 4.2rem;
    right: var(--forecasts-padding-inline);
  }

  &__main {
    display: grid;
    grid-template-columns: 33% 67%;
  }

  &__currentWeather {
    padding: 19rem 13rem 5rem;
    background-color: var(--color-background-medium);
  }

  &__currentWeatherBg {
    position: absolute;
    top: 10rem;
    left: -12rem;
    width: 70rem;
    filter: opacity(0.05);
  }

  &__forecast-with-highlights {
    padding: 15rem var(--forecasts-padding-inline);
    background-color: var(--color-background-dark);
    z-index: 0;
  }
}
