@use "./assets/styles/bootstrap";

.toaster {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.app {
  --forecastsHighlights-padding-inline-large-screen: 9vw;
  --currentWeather-part-large-screen: 33%;
  --forecastsHightlights-part-desktop: calc(
    100% - var(--currentWeather-part-large-screen)
  );

  // make it relative for attribution positioning
  position: relative;

  // leave space for attribution
  padding-bottom: 5rem;

  // background is needed so that bottom space left for attribution is properly colored
  background: linear-gradient(
    to right,
    var(--color-background-medium) var(--currentWeather-part-large-screen),
    var(--color-background-dark) var(--currentWeather-part-large-screen)
  );

  @include bootstrap.respond-to-screen(medium) {
    // background color is still needed on small screens
    // otherwise there is ~pixel-wide white spice between sections
    background: var(--color-background-dark);
  }
}

.locationSearch {
  position: absolute;
  z-index: 1;
  top: 4.2rem;
  left: 3%;
  width: 27%;

  @include bootstrap.respond-to-screen(medium) {
    width: max-content;
  }
}

.unitsSwitch {
  position: absolute;
  z-index: 1;
  top: 4.2rem;
  right: var(--forecastsHighlights-padding-inline-large-screen);

  @include bootstrap.respond-to-screen(medium) {
    right: 3%;
  }
}

.main {
  // min-height property is used to make the site's height to always be at least 100vh
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--currentWeather-part-large-screen) var(
      --forecastsHightlights-part-desktop
    );

  @include bootstrap.respond-to-screen(medium) {
    grid-template-columns: 100%;
  }
}

.currentWeather {
  padding: 19rem 9vw 5rem;
  background-color: var(--color-background-medium);

  @include bootstrap.respond-to-screen(medium) {
    padding-top: 13rem;
    padding-bottom: 10rem;
  }
}

.currentWeather_fetching {
  composes: currentWeather;
  @include bootstrap.respond-to-screen(medium) {
    min-height: min(100vh, 90rem);
  }
}

.currentWeatherBg {
  position: absolute;
  top: 10rem;
  left: -8.33vw;
  width: 50vw;
  max-width: unset;
  filter: opacity(0.05);

  @include bootstrap.respond-to-screen(semi-large) {
    top: 16rem;
  }

  @include bootstrap.respond-to-screen(medium) {
    width: 155vw;
    top: 12rem;
    left: -27vw;
  }

  @include bootstrap.respond-to-screen(small) {
    top: 14rem;
  }
}

.forecastAndHighlights {
  padding: 15rem var(--forecastsHighlights-padding-inline-large-screen) 10rem;
  background-color: var(--color-background-dark);
  z-index: 0;

  @include bootstrap.respond-to-screen(medium) {
    padding: 5rem 6.4vw;
  }
}

.forecast {
  margin-bottom: 7.2rem;

  @include bootstrap.respond-to-screen(medium) {
    padding: 0 8vw;
    margin-bottom: 4.8rem;
  }
}

.attribution {
  position: absolute;
  bottom: 1.6rem;
  right: 0;
  width: var(--forecastsHightlights-part-desktop);
  text-align: center;

  @include bootstrap.respond-to-screen(medium) {
    width: 100%;
  }

  &__link {
    transition: color var(--transition-config-default);

    &:focus,
    &:hover,
    &:active {
      color: var(--color-accent);
    }
  }
}
