.app {
  --forecasts-padding-inline: 13rem;

  min-height: 100vh;
  color: var(--color-light);
  font-family: var(--font-default);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.175;

  &__unitsSwitch {
    position: absolute;
    z-index: 1;
    top: 4.2rem;
    right: var(--forecasts-padding-inline);
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 2.15fr;
  }

  &__currentWeather {
    padding: 19rem 13rem 5rem;
    background-color: var(--color-background-medium);
  }

  &__currentWeatherBg {
    position: absolute;
    top: 10rem;
    left: -12rem;
    width: 70rem;
    filter: opacity(0.05);
  }

  &__forecast-with-highlights {
    padding: 15rem var(--forecasts-padding-inline);
    background-color: var(--color-background-dark);
    z-index: 0;
  }
}
