.app {
  min-height: 100vh;
  padding: 4rem 12rem 16rem;
  color: var(--color-light);
  background-color: var(--color-background-dark);
  font-family: var(--font-default);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.175;
}
